.crew-article {
  display: flex;
  width: 100%;
  gap: 24px;

  &__description {
    padding: 188px 0 109px 0;
  }

  &__subtitle {
    margin-bottom: 15px;
    text-transform: uppercase;
    color: rgba($color: $colo-white, $alpha: 0.5);
    font-family: 'Bellefair';
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
  }

  &__title {
    white-space: nowrap;
    margin-bottom: 27px;
    text-transform: uppercase;
    color: $colo-white;

    font-family: 'Bellefair';
    font-size: 56px;
    line-height: 64px;
  }

  &__text {
    max-width: 444px;
  }

  &__picture {
    flex: 1 1 auto;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 702px;
    border-bottom: 1px solid $colo-blue-dark;
  }

  @media (max-width: map-get($screens, xl)) {
    &__description {
      flex: 1 1 auto;
      padding: 188px 0 109px 0;
    }
  }

  @media (max-width: map-get($screens, lg)) {
    flex-direction: column;
    gap: 0;

    &__description {
      padding: 60px 0 50px;
      text-align: center;
      margin-bottom: 40px;
    }

    &__subtitle {
      margin-bottom: 8px;
      font-size: 24px;
      line-height: 28px;
    }

    &__title {
      margin-bottom: 16px;
      font-size: 40px;
      line-height: 46px;
    }

    &__text {
      max-width: 660px;

      margin: 0 auto;
    }

    &__picture {
      align-self: center;
    }

    &__picture {
      height: 532px;
    }

    @media (max-width: map-get($screens, mds)) {
      &__subtitle {
        font-size: 16px;
        line-height: 18px;
      }

      &__title {
        font-size: 24px;
        line-height: 28px;
      }

      &__text {
        max-width: 592px;
        min-width: auto;
      }
    }

    @media (max-width: map-get($screens, sm)) {
      &__description {
        order: 1;
      }

      &__description {
        padding: 42px 0 0 0;
        text-align: center;
        margin-bottom: 0;
      }

      &__picture {
        height: 222px;
        margin-bottom: 32px;
        align-self: stretch;
      }

      &__img {
        height: 100%;
      }
    }
  }
}
