.crew {
  &__container {
    padding-top: 62px;
    padding-left: 166.5px;
    position: relative;
  }

  &__title {
    position: absolute;
    top: 76px;
    left: 166.5px;
    z-index: 1;
  }

  &__carousel {
    height: 700px;
  }
}
