.crew-article {
  display: flex;
  gap: $area-large;

  &__text-content {
    padding-top: 188px;
    padding-bottom: 130px;
  }

  &__subtitle {
    @include heading-4;

    margin-bottom: 15px;
    color: rgba($color: $colo-white, $alpha: 0.5);
  }

  &__title {
    @include heading-3;

    margin-bottom: 27px;
    color: $colo-white;
  }

  &__subtitle,
  &__title {
    text-transform: uppercase;
  }

  &__text {
    max-width: 444px;
  }

  &__picture {
    height: 702px;
    display: flex;
    align-items: flex-end;
    border-bottom: 1px solid $colo-blue-dark;
    padding-right: 55px;
  }

  @media (max-width: map-get($screens, xl)) {
    &__text-content {
      padding-top: 130px;
    }

    &__picture {
      height: 664px;
      padding-right: 0;
    }

    &__img {
      max-height: 100%;
      height: fit-content;
    }
  }

  @media (max-width: map-get($screens, lg)) {
    flex-direction: column;
    align-items: center;
    gap: 40px;

    &__text-content {
      text-align: center;
      padding-top: 0;
      padding-bottom: 50px;
    }

    &__subtitle {
      margin-bottom: $area-half;
    }

    &__title {
      margin-bottom: $area-base;
    }

    &__text {
      max-width: 592px;
    }

    &__picture {
      max-height: 532px;
      height: auto;
      padding-right: 0;
    }
  }

  @media (max-width: map-get($screens, mds)) {
    gap: 74px;

    &__text-content {
      order: 1;
      padding-bottom: 0;
    }

    &__picture {
      height: 222px;
      width: 100%;
      justify-content: center;
    }
  }
}
