.crew {
  &__container {
    padding-top: 76px;
    padding-left: 165.5px;
    position: relative;
  }

  &__title {
    position: absolute;
    top: 76px;
    left: 165px;
    z-index: 1;
  }

  @media (max-width: map-get($screens, xl)) {
    &__container {
      padding: 76px 55px 0;
    }
    &__title {
      position: static;
      margin-bottom: 60px;
    }
  }

  @media (max-width: map-get($screens, md)) {
    &__container {
      padding: 40px 39px 0;
    }
  }

  @media (max-width: map-get($screens, sm)) {
    &__container {
      padding: $area-base-large;
    }

    &__title {
      text-align: center;
      margin-bottom: $area-double;
    }
  }
}
