.destination-article {
  display: flex;
  justify-content: space-between;
  gap: 60px;

  &__description {
    max-width: 445px;
    padding-top: 37px;
  }

  &__title {
    @include heading-2;

    margin-bottom: 14px;
    color: $colo-white;
  }

  &__text {
    margin-bottom: 54px;
  }

  &__addition {
    border-top: 1px solid $colo-blue-dark;
    padding-top: 28px;
    display: flex;
    gap: 79px;
  }

  &__info-title {
    @include subheading-2;

    margin-bottom: $area-base-small;
  }

  &__info-text {
    @include subheading-1;

    color: $colo-white;
  }

  &__title,
  &__info {
    text-transform: uppercase;
  }

  @media (max-width: map-get($screens, lg)) {
    flex-direction: column;
    align-items: center;
    gap: 119px;

    &__description {
      padding-top: 0;
      text-align: center;
    }

    &__addition {
      justify-content: center;
    }
  }

  @media (max-width: map-get($screens, md)) {
    &__picture {
      max-width: 300px;
      max-height: 300px;
    }

    &__description {
      text-align: center;
      max-width: 573px;
      padding-top: 0;
    }

    &__title {
      margin-bottom: $area-half;
    }

    &__text {
      margin-bottom: 49px;
    }

    &__addition {
      gap: 86px;
    }
  }

  @media (max-width: map-get($screens, sm)) {
    gap: 74px;

    &__picture {
      max-width: 170px;
      max-height: 170px;
    }

    &__description {
      text-align: center;
      max-width: 573px;
    }

    &__title {
      margin-bottom: 1px;
    }

    &__text {
      margin-bottom: $area-double;
    }

    &__addition {
      flex-direction: column;
      gap: $area-double;
      padding-top: $area-double;
    }
  }
}
