.destination {
  &__container {
    padding: 76px 163px 0 166.5px;
  }

  &__title {
    margin-bottom: $area-quatro;
  }

  @media (max-width: map-get($screens, xl)) {
    &__container {
      padding: 76px 55px 0;
    }
  }

  @media (max-width: map-get($screens, md)) {
    &__container {
      padding: 40px 39px 0;
    }

    &__title {
      margin-bottom: 60px;
    }
  }

  @media (max-width: map-get($screens, sm)) {
    &__container {
      padding: $area-base-large $area-base-large 0;
    }

    &__title {
      text-align: center;
      margin-bottom: $area-double;
    }
  }
}
