.heading-counter {
  @include heading-5;

  text-transform: uppercase;
  color: $colo-white;

  &__count {
    color: rgba($color: $colo-white, $alpha: 0.25);
    margin-right: 28px;
    font-weight: 700;
  }

  @media (max-width: map-get($screens, md)) {
    &__count {
      margin-right: $area-base;
    }
  }
}
