.header {
  margin-top: 40px;

  // /* typography */
  // font-family: 'Barlow Condensed';
  // line-height: $lh-base-small - 6;
  // letter-spacing: 2.7px;

  &__content {
    display: flex;
    align-items: center;
    padding-left: 55px;

    &::before {
      display: block;
      content: '';
      border: 1px solid rgba($color: $colo-white, $alpha: 0.25);
      width: 100%;
      margin-left: 37px;
      order: 1;
      position: relative;
      z-index: 2;
      right: -30px;
    }
  }

  &__logo-link {
    min-width: 48px;
    height: 48px;
    margin-right: auto;
  }

  &__navigation {
    order: 2;
  }

  @media (max-width: map-get($screens, xl)) {
    &__content {
      justify-content: space-between;

      &::before {
        display: none;
      }
    }
  }

  @media (max-width: map-get($screens, md)) {
    margin-top: 0;

    // /* typography */
    // font-size: $fs-least;
    // line-height: 17px;
    // letter-spacing: 2.3625px;

    &__content {
      padding-left: 39px;
    }
  }

  @media (max-width: map-get($screens, mds)) {
    margin-top: 24px;

    // /* typography */
    // font-size: 16px;
    // line-height: 19px;
    // letter-spacing: 2.7px;

    &__content {
      padding-left: 24px;
    }

    &__logo-link {
      min-width: none;
      width: 40px;
      height: 40px;
    }
  }
}
