.heading-counter {
  text-transform: uppercase;
  color: $colo-white;
  font-size: 28px;
  line-height: 34px;
  font-weight: 400;
  font-family: 'Barlow Condensed';
  letter-spacing: 4.725px;

  &__count {
    margin-right: 28px;
    font-weight: 700;
    color: rgba($color: $colo-white, $alpha: 0.25);
  }

  @media (max-width: map-get($screens, md)) {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 3.375px;

    &__count {
      margin-right: 16px;
    }
  }

  @media (max-width: map-get($screens, sm)) {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
  }
}
