.intro {
  padding-top: 251px;

  &__container {
    display: flex;
    justify-content: space-between;
    padding: 0 165px 0;
    align-items: flex-end;
  }

  &__content {
    max-width: 450px;
  }

  &__subtitle {
    margin-bottom: $area-base-large;
    font-size: $fs-heading-5;
    line-height: $lh-heading-5;
    letter-spacing: $ls-heading-5;
    font-family: 'Barlow Condensed';
  }

  &__title {
    margin-bottom: $area-base-large;
    color: $colo-white;
    font-size: $fs-heading-1;
    line-height: $lh-heading-1;
    font-family: 'Bellefair';
  }

  &__main-button {
    align-self: flex-end;
  }

  @media (max-width: map-get($screens,  xl)) {
    &__container {
      padding: 0 clamp(55px, 12.7vw, 159px) 0;
    }
  }

  @media (max-width: map-get($screens,  lg)) {
    padding-top: 106px;

    &__container {
      display: flex;
      flex-direction: column;
      padding: 0 55px 0;
      align-items: center;
      justify-content: center;
      gap: 156px;
    }

    &__content {
      text-align: center;
    }

    &__main-button {
      align-self: center;
    }
  }

  @media (max-width: map-get($screens,  md)) {
    padding-top: 106px;

    &__subtitle {
      font-size: $fs-heading-5-small;
      line-height: $lh-heading-5-small;
      letter-spacing: $ls-heading-5-small;
    }

    &__title {
      line-height: $lh-heading-1-small;
    }
  }

  @media (max-width: map-get($screens,  md)) {
    padding-top: 48px;

    &__container {
      padding: 0 24px;
      gap: 81px;
    }

    &__subtitle {
      margin-bottom: 16px;
      
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 2.7px;
    }

    &__title {
      margin-bottom: 16px;
      font-size: 80px;
      line-height: 100px;
    }
  }
}
