.intro {
  padding-top: 251px;

  &__container {
    display: flex;
    justify-content: space-between;
    padding: 0 165px 0;
    align-items: flex-end;
  }

  &__content {
    max-width: 450px;
  }

  &__subtitle {
    @include heading-5;

    margin-bottom: $area-base-large;
  }

  &__title {
    @include heading-1;

    margin-bottom: $area-base-large;
    color: $colo-white;
  }

  &__main-button {
    align-self: flex-end;
  }

  @media (max-width: map-get($screens,  xl)) {
    &__container {
      padding: 0 clamp(55px, 12.7vw, 159px) 0;
    }
  }

  @media (max-width: map-get($screens,  lg)) {
    padding-top: 106px;

    &__container {
      display: flex;
      flex-direction: column;
      padding: 0 55px 0;
      align-items: center;
      justify-content: center;
      gap: 156px;
    }

    &__content {
      text-align: center;
    }

    &__main-button {
      align-self: center;
    }
  }

  @media (max-width: map-get($screens,  md)) {
    padding-top: 106px;
  }

  @media (max-width: map-get($screens,  md)) {
    padding-top: $area-treble;

    &__container {
      padding: 0 $area-base-large;
      gap: 81px;
    }

    &__subtitle,
    &__title {
      margin-bottom: $area-base;
    }
  }
}
