.navigation {
  display: flex;
  align-items: center;

  &__list {
    counter-reset: count -1;
    display: flex;
    gap: $area-treble;
    background: rgba($color: $colo-white, $alpha: 0.04);
    backdrop-filter: blur(40.7742px);
    padding: 0 165px 0 123px;
  }

  &__list-item {
    counter-increment: count;
    padding: $area-double + 7 0 $area-double + 3;
    border-bottom: 3px solid transparent;

    &--active,
    &--active:hover {
      border-bottom-color: $colo-white;
      pointer-events: none;
    }

    &:hover {
      border-bottom-color: rgba($color: $colo-white, $alpha: 0.5);
    }
  }

  &__link {
    display: flex;
    gap: $area-base-small;
    text-decoration: none;
    color: $colo-white;

    &::before {
      content: '0' counter(count);
      display: block;
      font-weight: $fw-bold;
    }
  }

  &__toggle-button {
    display: none;
    border: none;
    background: none;
    width: fit-content;
    width: 48px;
    height: 48px;
    justify-content: center;
    align-items: center;

    .icon--burger {
      display: block;
    }

    .icon--close {
      display: none;
    }
  }

  @media (max-width: map-get($screens, xl)) {
    &__list {
    }
  }

  @media (max-width: map-get($screens, lg)) {
    &__list {
      padding: 0 48px;
      gap: 37px;
    }
  }

  @media (max-width: map-get($screens, md)) {
    &__list {
      padding: 0 clamp(39px, 6.25vw, 48px);
      gap: clamp(24px, 5.2vw, 37px);
    }

    &__link {
      min-height: 19px;
      &::before {
        display: none;
      }
    }
  }

  @media (max-width: map-get($screens, mds)) {
    padding-right: 10.5px;

    &--mobile {
      .navigation__list {
        display: flex;
        flex-direction: column;
        padding: 118px 32px;
        gap: 32px;
        width: 254px;

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 20;
        // width: 71%;
      }

      .navigation__toggle-button {
        position: relative;
        z-index: 21;

        .icon--burger {
          display: none;
        }

        .icon--close {
          display: block;
        }
      }
    }

    &__list {
      display: none;
    }

    &__list-item {
      padding: 0;
      border-bottom: none;
    }

    &__link {
      text-transform: uppercase;

      &::before {
        display: block;
      }
    }

    &__toggle-button {
      display: flex;
    }
  }

  @media (max-width: map-get($screens, sm)) {
  }
}
