.navigation {
  display: flex;
  align-items: center;

  &__list {
    counter-reset: count - 1;
    display: flex;
    gap: $area-treble;
    background: rgba($color: $colo-white, $alpha: 0.04);
    backdrop-filter: blur(40.7742px);
    padding: 0 165px 0 123px;
  }

  &__list-item {
    counter-increment: count;
    padding: $area-double + 7 0 0;
  }

  &__link {
    @include nav-link;

    display: flex;
    gap: $area-base-small;
    text-decoration: none;
    color: $colo-white;
    border-bottom: 3px solid transparent;
    padding-bottom: $area-double + 3;

    &::before {
      content: '0' counter(count);
      display: block;
      font-weight: $fw-bold;
    }

    &--active,
    &--active:hover {
      border-bottom-color: $colo-white;
      pointer-events: none;
    }

    &:hover {
      border-bottom-color: rgba($color: $colo-white, $alpha: 0.5);
    }
  }

  &__toggle-button {
    display: none;
    border: none;
    background: none;
    width: fit-content;
    width: $area-treble;
    height: $area-treble;
    justify-content: center;
    align-items: center;

    .icon--burger {
      display: block;
    }

    .icon--close {
      display: none;
    }
  }

  @media (max-width: map-get($screens, lg)) {
    &__list {
      padding: 0 $area-treble;
      gap: 37px;
    }
  }

  @media (max-width: map-get($screens, md)) {
    &__list {
      padding: 0 clamp(39px, 6.25vw, $area-treble);
      gap: clamp($area-base-large, 5.2vw, 37px);
    }

    &__link {
      min-height: 19px;
      &::before {
        display: none;
      }
    }
  }

  @media (max-width: map-get($screens, mds)) {
    padding-right: 10.5px;

    &--mobile {
      .navigation__list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 118px $area-double;
        gap: $area-double;
        width: 254px;

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 20;
      }

      .navigation__toggle-button {
        position: relative;
        z-index: 21;

        .icon--burger {
          display: none;
        }

        .icon--close {
          display: block;
        }
      }
    }

    &__list {
      display: none;
    }

    &__list-item {
      padding: 0;
      border-bottom: none;
    }

    &__link {
      text-transform: uppercase;

      &::before {
        display: block;
      }
    }

    &__toggle-button {
      display: flex;
    }
  }
}
