.root {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: auto 1fr;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;

  &--not-scroll {
    overflow: hidden;
  }

  &--main {
    background-image: url(../../assets/images/home/background-home-desktop.jpg);
  }

  &--destination {
    background-image: url(../../assets/images/destination/background-destination-desktop.jpg);
  }

  &--crew {
    background-image: url(../../assets/images/crew/background-crew-desktop.jpg);
  }

  @media (max-width: map-get($screens, md)) {
    &--main {
      background-image: url(../../assets/images/home/background-home-tablet.jpg);
    }

    &--destination {
      background-image: url(../../assets/images/destination/background-destination-tablet.jpg);
    }

    &--crew {
      background-image: url(../../assets/images/crew/background-crew-tablet.jpg);
    }
  }

  @media (max-width: map-get($screens, sm)) {
    &--main {
      background-image: url(../../assets/images/home/background-home-mobile.jpg);
    }

    &--destination {
      background-image: url(../../assets/images/destination/background-destination-mobile.jpg);
    }

    &--crew {
      background-image: url(../../assets/images/crew/background-crew-mobile.jpg);
    }
  }
}
