.tabs {
  &__tabs {
  }
  &__list {
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    gap: 36px;
    margin-right: 184px;
  }
  &__list-item {
  }

  &__list-tab {
    display: block;
    padding-bottom: 12px;
    border-bottom: 3px solid transparent;
    color: rgba($color: $colo-white, $alpha: 0.5);
    font-family: 'Barlow Condensed';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    text-decoration: none;
    transition: border-bottom-color 0.3 ease;

    &[aria-pressed='true'],
    &[aria-pressed='true']:hover {
      color: $colo-white;
      border-bottom-color: $colo-white;
      pointer-events: none;
    }

    &:hover {
      border-bottom-color: rgba($color: $colo-white, $alpha: 0.5);
    }
  }

  &__list-content {
  }

  &__content-item {
    display: none;

    &--active {
      display: block;
    }
  }
}
