.tabs {
  display: flex;
  flex-direction: column;

  &__list {
    align-self: flex-end;
    max-width: 445px;
    width: 100%;
    display: flex;
    align-items: stretch;
    gap: 36px;
  }

  &__list-tab {
    display: block;
    padding-bottom: 12px;
    border-bottom: 3px solid transparent;
    color: inherit;
    text-transform: uppercase;
    text-decoration: none;
    transition: border-bottom-color 0.3 ease;
    font-family: $ff-Barlow-Condensed;
    font-size: $fs-nav-link;
    line-height: $lh-nav-link;
    letter-spacing: $ls-nav-link;

    &[aria-pressed='true'],
    &[aria-pressed='true']:hover {
      color: $colo-white;
      border-bottom-color: $colo-white;
      pointer-events: none;
    }

    &:hover {
      border-bottom-color: rgba($color: $colo-white, $alpha: 0.5);
    }
  }

  &__content-item {
    display: none;

    &--active {
      display: block;
    }
  }

  @media (max-width: map-get($screens, lg)) {
    position: relative;

    &__list {
      align-self: center;
      margin: 0;
      justify-content: center;
      position: absolute;
      width: 100%;
      top: 353px;
      z-index: 1;
    }
  }

  @media (max-width: map-get($screens, sm)) {
    &__list {
      top: 196px;
      gap: 26px;
    }

    &__list-tab {
      font-size: $fs-nav-link-t;
      line-height: $lh-nav-link-t;
      letter-spacing: $ls-nav-link-t;
    }
  }
}
