.technology-article {
  display: flex;
  justify-content: space-between;
  padding-left: 160px;

  &__text-content {
    align-self: center;
    margin-right: $area-base-large;
  }

  &__subtitle {
    margin-bottom: 11px;
    font-family: $ff-Barlow-Condensed;
    font-size: $fs-nav-link;
    line-height: $lh-nav-link;
    letter-spacing: $ls-nav-link;
  }

  &__title {
    @include heading-3;
    margin-bottom: 17px;
    color: $colo-white;
  }

  &__subtitle,
  &__title {
    text-transform: uppercase;
  }

  &__text {
    max-width: 444px;
  }

  &__picture {
    width: 515px;
  }

  @media (max-width: map-get($screens, xl)) {
    padding-left: $area-largest;
  }

  @media (max-width: map-get($screens, lg)) {
    flex-direction: column;
    gap: 160px;
    padding-left: 0;
    align-items: center;

    &__text-content {
      order: 1;
      text-align: center;
      max-width: 660px;
      margin: 0;
    }

    &__subtitle,
    &__title {
      margin-bottom:$area-base;
    }

    &__text {
      max-width: none;
    }

    &__picture {
      width: 100%;
      overflow: hidden;
    }

    &__img {
      object-fit: cover;
      width: inherit;
      height: 310px;
    }
  }

  @media (max-width: map-get($screens, md)) {
    &__text-content {
      max-width: 458px;
    }
  }

  @media (max-width: map-get($screens, sm)) {
    gap: 100px;

    &__text-content {
      margin: 0 $area-base-large;
    }

    &__subtitle {
      margin-bottom: 9px;
      font-size: $fs-nav-link-t;
      line-height: $lh-nav-link-t;
      letter-spacing: $ls-nav-link-t;
    }

    &__title {
      margin-bottom: $area-base;
    }

    &__img {
      object-fit: cover;
      width: inherit;
      height: 170px;
    }
  }
}
