.technology {
  &__container {
    padding-top: 76px;
    padding-left: 165px;
  }

  &__title {
    margin-bottom: 26px;
  }

  @media (max-width: map-get($screens, xl)) {
    &__container {
      padding-left: 55px;
    }
  }

  @media (max-width: map-get($screens, lg)) {
    &__container {
      padding-left: 0;
    }

    &__title {
      margin-bottom: 60px;
      margin-left: 55px;
    }
  }

  @media (max-width: map-get($screens, md)) {
    &__container {
      padding-top: 40px;
    }

    &__title {
      margin-left: 38.5px;
    }
  }

  @media (max-width: map-get($screens, sm)) {
    &__container {
      padding-top: $area-base-large;
      text-align: center;
    }

    &__title {
      margin-bottom: $area-double;
      margin-left: 0;
    }
  }
}
